.headerContainer {
  position: fixed;
  width: 100%;
  background-color: var(--black);
  //background-image: -webkit-gradient(linear, left top, right top, from(#c4183c), to(#4f37ac));
  //background-image: linear-gradient(to right, #c4183c, #4f37ac);
  -webkit-box-shadow: 0 5px 15px rgb(0 0 0 / 8%);
  box-shadow: 0 5px 15px rgb(0 0 0 / 8%);
  z-index: 1020;
  transition: position 300ms linear;
}