.headerContainer {
  background-color: #c4183c;
  background-image: -webkit-gradient(linear,left top,right top,from(#c4183c),to(#4f37ac));
  background-image: linear-gradient(to right,#c4183c,#4f37ac);
  padding-top: 60px;
  .topNavWrapper {
    padding-bottom: 70px;
    .wrapperBlock{
      width: 100%;
      display: flex;
      position: relative;
      padding: 0;
      margin: 0;
      .topNavLeft{
      }

      .topNavRight {
        flex: 1;
        display: flex;
        justify-content: end;
        align-items: center;
        padding-left: 40px;
        .iconList {
          display: flex;
          flex-wrap: wrap;
          margin: 0;
          padding: 0;
          list-style: none;
          li {
            padding-left: 10px;
            a {
              display: flex;
              align-items: center;
              justify-content: center;
              background: #333;
              color: #fff;
              height: 40px;
              width: 40px;
              text-align: center;
              border-radius: 50%;
              box-shadow: 0 5px 10px rgb(0 0 0 / 15%);
              transition: .3s ease-in-out;
              cursor: pointer;
              text-decoration: none;
            }
            a:hover {
              opacity: 0.8;
            }
            .twitterBg {
              background: #1da1f2;
            }
            .facebookBg {
              background: #3b5998;
            }
            .instagramBg {
              background: #d6249f;
              background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
              box-shadow: 0 3px 10px rgba(0,0,0,.25);
            }
            .linkedInBg {
              background: #1565c0;
            }
          }
        }
      }
    }
  }
}