@use "../../App" as App;

$themeColor: #fff;

.sideMenuContainer {
  position: fixed;
  left: 0;
  background-color: var(--black);
  width: 3.5rem;
  height: 100vh;
  border-radius: 0 30px 30px 0;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  .buttonContainer {
    background-color: var(--black);
    border: none;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin: 0;
    cursor: pointer;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
  }

  .defaultButton::before {
    top: 1rem;
    transform: rotate(0deg);
  }

  .defaultButton::after {
    top: 1.5rem;
    transform: rotate(0deg);
  }

  .extendButton::before {
    transform: rotate(135deg);
  }

  .extendButton::after {
    transform: rotate(-135deg);
  }

  .buttonContainer::before, .buttonContainer::after {
    content: "";
    background-color: var(--white);
    height: 2px;
    width: 1rem;
    position: absolute;
    transition: all 0.3s ease 0s;
  }

  .listContainer {
    color: var(--white);
    list-style: none;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    background-color: var(--black);
    padding: 2rem 0;
    position: absolute;
    top: 6rem;
    left: 0;
    transition: all 0.5s ease 0s;
    border-radius: 0 30px 30px 0;
    li {
      width: 100%;
    }

    li:hover {
      border-right: 4px solid var(--white);
    }
    a {
      text-decoration: none;
      color: var(--white);
      width: 100%;
      padding: 1rem 0 1rem 1rem;
      cursor: pointer;
      display: flex;
      span {
        overflow: hidden;
        transition: all 0.3s ease 0s;
      }
    }
  }

  .defaultListSize {
    width: 3.5rem;
    a span {
      width: 0;
      margin-left: 0;
    }
  }

  .extendListSize {
    width: 12rem;
    a span {
      width: 100%;
      margin-left: 1.5rem;
    }
  }
}