main {
  position: relative;
  min-height: 100vh;
  overflow: auto;
}
.fixedDiv {
  position: fixed;
  width: 100%;
  top: 0;
  padding-bottom: 0 !important;
}

.showBtn {
  opacity: 1 !important;
  transform: translateY(0) !important;
}